html,
body {
  @include calcHeight(100%, 0px);
  margin: 0px;
}

body {
  font-family: Arial;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

*:active,
*:focus {
  outline: 0px;
}

.wrapped {
  flex-wrap: wrap;
}

.c4 {
  @include flex(1 0 23%);
  margin: 10px 1%;
  box-sizing: border-box;
}
