.btn {
  border: 0px;
  background: none;
}

.btn-menu {
  background: url('../assets/img/menu_white.png') no-repeat center;
  background-size: cover;
  height: 34px;
  padding: 10px;
  &:hover{
    background: url('../assets/img/menu_blue.png');
    background-size: cover;
  }
}

.btn-ok {
  @include rounded(5px);
  background: $blueOcean;
  padding: 5px;
  margin: 5px;
  color: white;
  &:hover {
    background: $blueLight;
  }
}
