.nav {
  @include flexRow;
  background: $greenDark;
  padding: 10px;
  .nav-title {
    color: $blueOcean;
    font-size: $titleSize;
    margin-left: 10px;
    &:hover {
      color: $blueLight;
    }
  }
}
